/*
    pusa.css
*/


/* подсветка фокуса */
.pusa-focus
{
    border: 1px solid #ff00007c;
    border-radius: 1px;
    box-sizing: border-box;
}


/* визуальный индикатор загрузки */
#pusa-indicator
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
    background-image: src( loader.png );
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    display: none;
}

#pusa-indicator.show { display: block; }
#pusa-indicator.hide { display: none; }












.code 
{
    display: block;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: monospace;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-left: 1em solid;
}

.code::before 
{
    display: block;
    font-weight: bold;
    color: #fff;
    padding: 0.5em;
}

.js      
{
    background: #80008033;
    border-color: #80008033;
}

.js::before 
{
    content: "JavaScript"; 
    background: #800080;
}

.html
{
    background: #00008033;
    border-color: #00008033;
}

.html::before
{
    content: "HTML";
    background: #000080;
}

.json
{
    background: #64640033;
    border-color: #64640033;
}

.json::before
{
    content: "json";
    background: #646400;
}

.php
{
    background: #00640033;
    border-color: #00640033;
}

.php::before
{
    content: "PHP";
    background: #006400;
}
