body 
{
    background-color: #f4f7fa;
    color: #1e1e1e;
}



.top
{
    background-color: #3b4b5c;
    background-image: url(/content/read/images/pusa.svg);
    background-position: 1em 1em;
    background-repeat: no-repeat;
    background-size: 5em 5em;
    color: #fff;
    padding-left: 7em;
}



.page
{
    background-color: #ffffff;
}



.bottom
{
    background-color: #dfe6ec;
    color: #333;
}



.page blockquote
{
    border-left: 4px solid #ccc;
    color: #555;
}



.page pre
{
    background-color: #f0f0f0;
}



.page code
{
    background-color: #eef;
}



.page a
{
    color: #3366cc;
}



/* Menu */
.menu
{
    background-color: #3b4b5c;
    color: #fff;
}



.menu .item
{
    color: #fff;
    background-color: transparent;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}



.menu .item:hover
{
    background-color: #1b2b3c;
    color: #fff;
}



input
{
    padding: 0.5em 1.0em;
}




button
{
    background-color: #3b4b5c;
    padding: 0.5em 1.0em;
    color: #fff;
    transition: background-color 0.1s;
}

button:active
{
    background-color: #7b8b9c;
}






.selectable {
    padding: 0.5em 1.0em;
    color: #000;
    transition: background-color 0.1s;
}

.selectable:hover {
    background-color: #d5dae0;
}

.selectable:active {
    background-color: #c2c8cf;
}
